@import "./partials/media-queries";

@import "./partials/variables";

@import "./partials/_restart.scss";


@import "./partials/bienvenida";
@import "./partials/fonts";
@import "./partials/inicio";
@import "./partials/experiencia";
@import "./partials/mis-sets";
@import "./partials/quiensoy";
@import "./partials/contacto";

