* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: white;
}
* button {
  color: black;
}

.mainBienvenida {
  background-color: rgb(29, 28, 28);
}
.mainBienvenida .contenedorBienvenida {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo {
  width: 100%;
  height: 100vh;
  background-image: url(../../img/fondo-inicio.jpg);
  background-position: center;
  background-size: cover;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida {
  background-color: rgba(0, 0, 0, 0.342);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida .cajaNombre {
  width: 100%;
  height: 100vh;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida .cajaNombre .contenedorGenero {
  width: 100%;
  height: 5vh;
  background-color: rgba(29, 28, 28, 0.459);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-top: 60vh;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida .cajaNombre .contenedorGenero .genero {
  font-size: 2rem;
  font-family: letraTexto-Extralight;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida .cajaNombre .contenedorNombre {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: letraLogo;
  font-size: 6rem;
}
.mainBienvenida .contenedorBienvenida .contenedorFondo .fondoBienvenida .cajaNombre .contenedorNombre .logoNombre {
  text-shadow: 5px 5px 10px black;
}
.mainBienvenida .contenedorBienvenida .contenedorNav {
  width: 100%;
  height: 100vh;
  z-index: 2;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida .contenedorLogo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida .contenedorLogo .logo .imgLogo {
  width: 15rem;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida .contenedorLogo .logo .imgLogo img {
  box-shadow: 5px 5px 10px black;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida .barraNav {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.mainBienvenida .contenedorBienvenida .contenedorNav .navBienvenida .barraNav .liNavBienvenida {
  padding: 1rem;
  font-size: 1.7rem;
  color: black;
}

@font-face {
  font-family: letraLogo;
  src: url(../../fonts/letraLogo.ttf);
}
@font-face {
  font-family: letraTexto-Extralight;
  src: url(../../fonts/letraTexto-Extralight.ttf);
}
@font-face {
  font-family: letraTexto-Hardline;
  src: url(../../fonts/letraTexto-Hardline.ttf);
}
@font-face {
  font-family: Arsenal;
  src: url(../../fonts/Arsenal.ttf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat.ttf);
}
.inicioNav {
  width: 100%;
  display: grid;
  grid-column: 2fr 2fr;
  position: fixed;
  z-index: 2;
  box-shadow: 2px 2px 10px black;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px;
  border-style: solid;
  border-bottom-color: rgb(0, 0, 170);
}
.inicioNav .contenedorInicioLogo {
  width: 30%;
  background-color: rgba(29, 28, 28, 0.8823529412);
}
.inicioNav .contenedorInicioLogo .contenedorLogoInicio img {
  padding: 10px;
  width: 7rem;
  position: fixed;
}
.inicioNav .contenedorInicioNav {
  width: 100%;
  height: 10vh;
  background-color: rgba(29, 28, 28, 0.8823529412);
}
.inicioNav .contenedorInicioNav .ulInicio {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.inicioNav .contenedorInicioNav .ulInicio .liInicio {
  padding: 1rem;
  font-size: 1.7rem;
}

/*************************************************************************************/
/*------------------------------------MAIN-------------------------------------------*/
/*************************************************************************************/
.contenedorFrase {
  width: 100%;
  height: 90vh;
  background-image: url(../../img/fondo-inicio2.jpeg);
  background-size: cover;
}
.contenedorFrase .inicioFrase {
  width: 100%;
  height: 90vh;
  background-color: rgba(17, 17, 17, 0.432);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorFrase .inicioFrase h2 {
  width: 90%;
  padding: 3rem;
  font-size: 6rem;
  text-align: center;
  font-family: letraTexto-Hardline;
  text-shadow: 3px 3px 2px black;
}

.contenedorInformacionSet {
  width: 100%;
  height: 100vh;
  background-color: rgb(29, 28, 28);
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorInformacionSet .informacionSet {
  width: 80%;
  height: auto;
  padding: 2rem;
  border: 0px;
  border-bottom: 1px;
  border-bottom-color: rgb(0, 0, 255);
  border-style: solid;
}
.contenedorInformacionSet .informacionSet .h2Inicio {
  padding: 2rem;
  font-size: 4rem;
  text-align: center;
  font-family: Arsenal;
}
.contenedorInformacionSet .informacionSet .textoInformacion {
  font-family: letraTexto-Extralight;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
}

/*************************************************************************************/
/*----------------------------------SECCION 2----------------------------------------*/
/*************************************************************************************/
.seccion2Inicio {
  width: 100%;
  height: 150vh;
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: ". caja1 caja1  caja3  caja4 ." ". caja1 caja1  caja10 caja10 . " ". linea1  linea1 caja10 caja10 ." ". caja13 caja13 caja13 caja13 .";
}
.seccion2Inicio .contenedorResumen {
  grid-area: caja1;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion2Inicio .contenedorResumen .resumenRequerimiento {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 0px;
  border-right: 1px;
  border-left: 1px;
  border-style: solid;
}
.seccion2Inicio .contenedorResumen .resumenRequerimiento h3 {
  font-family: Arsenal;
  font-size: 4rem;
}
.seccion2Inicio .contenedorResumen .resumenRequerimiento p {
  font-family: letraTexto-Extralight;
  padding: 1.5rem;
}
.seccion2Inicio .contenedorResumen .resumenRequerimiento button {
  background-color: #212121;
  text-shadow: 1px 1px 2px #212121;
  padding: 0.7rem;
  border-radius: 10px;
}
.seccion2Inicio .contenedorResumen .resumenRequerimiento button a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion2Inicio .contenedorSets {
  grid-area: caja10;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion2Inicio .contenedorSets .resumenSets {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 0px;
  border-top: 1px;
  border-bottom: 1px;
  border-style: solid;
}
.seccion2Inicio .contenedorSets .resumenSets h3 {
  font-family: Arsenal;
  font-size: 4rem;
}
.seccion2Inicio .contenedorSets .resumenSets p {
  font-family: letraTexto-Extralight;
  padding: 1.5rem;
}
.seccion2Inicio .contenedorSets .resumenSets button {
  background-color: #212121;
  text-shadow: 1px 1px 2px #212121;
  padding: 0.7rem;
  border-radius: 10px;
}
.seccion2Inicio .contenedorSets .resumenSets button a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion2Inicio .contenedorLinea {
  grid-area: linea1;
  width: 100%;
  height: auto;
  margin: 1rem;
}
.seccion2Inicio .contenedorLinea .linea {
  width: 100%;
  height: 10vh;
  border-bottom: 1px;
  border-top: 1px;
  border-left: 0;
  border-style: solid;
  border-right: 0;
  border-color: blue;
}
.seccion2Inicio .contenedorBiografia {
  grid-area: caja13;
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccion2Inicio .contenedorBiografia .resumenBiografia {
  width: 100%;
  height: auto;
  padding: 1rem;
  border: 0px;
  border-left: 1px;
  border-style: solid;
}
.seccion2Inicio .contenedorBiografia .resumenBiografia h3 {
  font-family: Arsenal;
  font-size: 4rem;
}
.seccion2Inicio .contenedorBiografia .resumenBiografia p {
  font-family: letraTexto-Extralight;
  padding: 1.5rem;
}
.seccion2Inicio .contenedorBiografia .resumenBiografia button {
  background-color: #212121;
  text-shadow: 1px 1px 2px #212121;
  padding: 0.7rem;
  border-radius: 10px;
}
.seccion2Inicio .contenedorBiografia .resumenBiografia button a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorFooter {
  width: 100%;
  height: 35vh;
  background-color: rgb(29, 28, 28);
}
.contenedorFooter .footer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "datos1   datos1   datos1" "columna4 columna2 columna3" "columna4 columna2 columna3";
}
.contenedorFooter .footer .logosRedes {
  width: 100%;
  grid-area: columna3;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.contenedorFooter .footer .logosRedes .iconos {
  padding: 0.5rem;
}
.contenedorFooter .footer .informacionExtraFooter {
  grid-area: columna2;
  width: 100%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  gap: 0.5rem;
}
.contenedorFooter .footer .derechosR {
  width: 100%;
  height: 5vh;
  grid-area: datos1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}
.contenedorFooter .footer .miniForm {
  display: flex;
}

.contenedorExperiencia {
  width: 100%;
  height: 127vh;
  background-color: rgb(29, 28, 28);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "colum1 colum1 colum1" "colum6 colum6 colum6" "colum2 colum3 colum4";
}
.contenedorExperiencia .informacionExperiencia {
  width: 100%;
  height: 50vh;
  margin-top: 7rem;
  padding: 5rem;
  grid-area: colum1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.contenedorExperiencia .informacionExperiencia h2 {
  font-family: letraTexto-Extralight;
  font-size: 4rem;
}
.contenedorExperiencia .informacionExperiencia p {
  font-family: letraTexto-Hardline;
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px 2px;
}
.contenedorExperiencia .contenedorEquipos {
  grid-area: colum6;
  display: flex;
  justify-content: center;
  padding: 2rem;
  background-color: rgb(27, 27, 27);
  border-bottom: 3px;
  border-style: solid;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-color: rgb(21, 0, 206);
}
.contenedorExperiencia .contenedorEquipos .equipos h2 {
  font-size: 3rem;
  font-family: Arsenal;
}
.contenedorExperiencia .contenedorCompacteras {
  grid-area: colum2;
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.contenedorExperiencia .contenedorCompacteras .tituloCompacteras {
  width: 100%;
  height: auto;
  text-align: center;
}
.contenedorExperiencia .contenedorCompacteras .tituloCompacteras h3 {
  font-size: 3rem;
  font-family: Arsenal;
}
.contenedorExperiencia .contenedorCompacteras .informacionCompacteras {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.contenedorExperiencia .contenedorCompacteras .informacionCompacteras ul li {
  font-size: 2rem;
  font-family: Montserrat;
}
.contenedorExperiencia .contenedorEfectera {
  grid-area: colum3;
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-style: solid;
  border-color: rgb(21, 0, 206);
  border-top: 1px;
  border-bottom: 1px;
}
.contenedorExperiencia .contenedorEfectera .efectera {
  margin-bottom: 10rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.contenedorExperiencia .contenedorEfectera .efectera h3 {
  font-size: 3rem;
  font-family: Arsenal;
}
.contenedorExperiencia .contenedorEfectera .efectera ul {
  padding: 1rem;
}
.contenedorExperiencia .contenedorEfectera .efectera ul li {
  font-size: 2rem;
  font-family: Montserrat;
}
.contenedorExperiencia .contenedorMixers {
  grid-area: colum4;
  background-color: rgb(27, 27, 27);
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.contenedorExperiencia .contenedorMixers .tituloMixers {
  width: 100%;
  height: auto;
  text-align: center;
}
.contenedorExperiencia .contenedorMixers .tituloMixers h3 {
  font-size: 3rem;
  font-family: Arsenal;
}
.contenedorExperiencia .contenedorMixers .informacionMixers {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.contenedorExperiencia .contenedorMixers .informacionMixers ul li {
  font-size: 2rem;
  font-family: Montserrat;
}

.contenedorFooter2 {
  width: 100%;
  height: 35vh;
  background-color: rgb(27, 27, 27);
}
.contenedorFooter2 .footer2 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-areas: "datos1   datos1   datos1" "columna1 columna2 columna3" "columna4 columna2 columna3";
}
.contenedorFooter2 .footer2 .logosRedes2 {
  width: 100%;
  grid-area: columna3;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: end;
}
.contenedorFooter2 .footer2 .logosRedes2 .iconos {
  padding: 0.5rem;
}
.contenedorFooter2 .footer2 .informacionExtraFooter2 {
  width: 100%;
  grid-area: columna2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  gap: 0.5rem;
}
.contenedorFooter2 .footer2 .derechosR2 {
  width: 100%;
  height: 5vh;
  grid-area: datos1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.contenedorSets {
  width: 100%;
  height: 100vh;
  background-color: rgb(27, 27, 27);
}/*# sourceMappingURL=style.css.map */