.mainBienvenida {
    

    background-color: $colorNav;
    

    

    .contenedorBienvenida {

        width: 100%;
        height: 100vh;

        display: grid;

        grid-template-columns: 4fr 1fr;

        @include tablet {

        }
        
        @include mobile {
            display: grid;

            grid-template-rows: 1fr 4fr;
            grid-template-areas: 
            "menu1"
            "logo1";
        }

        
        .contenedorFondo {

                width: 100%;
                height: 100vh;
                background-image: url(../img/fondo-inicio.jpg);
                background-position: center;
                background-size: cover;

                @include tablet {

                }
                
                @include mobile {
                    display: grid;
                    grid-area: logo1;
                }

                
                
            .fondoBienvenida{

                background-color: rgba(0, 0, 0, 0.342);
                backdrop-filter: blur(4px);
                


                .cajaNombre {

                    width: 100%;
                    height: 100vh; 
                    
                    
                    .contenedorGenero {

                        width: 100%;
                        height: 5vh;
                        background-color: rgba(29, 28, 28, 0.459);

                        padding: 1rem;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        position: absolute;

                        margin-top: 63vh;
                        

                        

                                              
    
                        .genero {                      
                            
                            font-size: 2rem;
                            font-family: $letraTexto-Extralight;

                            @include tablet {
                                font-size: 1rem;
                                
                            }
                            
                            @include mobile {
                                font-size: 0.7rem;
                                
                                
                            }
    
    
                        }
                    }   

                    .contenedorNombre {

                        width: 100%;
                        height: 100vh;

                        display: flex;
                        justify-content: center;
                        align-items: center;

                        font-family: letraLogo;
                        font-size: 6rem;

                        @include tablet {
                            font-size: 4rem;
                            text-align: center;
                        }
                        
                        @include mobile {
                            font-size: 3rem;
                            text-align: center;
                        }

                        .logoNombre {
                            
                            text-shadow: 5px 5px 10px black;

                            
                        }
                       
                    }
                }
            }
        }
        
        .contenedorNav {
            width: 100%;
            height: 100vh;

            z-index: 2;

            @include tablet {

            }
            
            @include mobile {
                height: 50vh;
            }
           

            .navBienvenida {

                display: grid;
                grid-template-rows: 1fr 1fr;

                @include tablet {

                }
                
                @include mobile {
                    display: grid;
                    grid-area: menu1;
                }
                
                .contenedorLogo {

                    width: 100%;    
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    

                    .logo {
                        

                        .imgLogo{
                            width: 15rem;

                            
                            
                            @include mobile {
                                width: 7rem;
                            }

                            img {
                            box-shadow: 5px 5px 10px black;

                            }

                            

                        }
                    }
                }
                


                .barraNav{
                    margin-top: 10vh;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    transition: all 0.5s;
                        &:hover{
                             transform: scale(1.07) translateY(-4px);
                        }

                    @include tablet {

                    }
                    
                    @include mobile {
                    display: flex;
                    flex-direction: row; 

                    margin-top: 0;
                    margin-bottom: -7rem;
                    }

                    

                    .liNavBienvenida{

                        padding: 1rem;

                        font-size: 1.7rem;
                        
                        color: black;

                        @include tablet {

                        }
                        
                        @include mobile {
                            padding: 0.5rem;
                            
                        }

                        
                        

                        
                        
                    }
                }
            }
        }

    }
}