*{
    a{
        text-decoration: none;
        list-style-type: none;
        color: white;
    }

    .input {
        background-color: $colorFondo1;
    }

    
}

.contenedorForm {

    width: 100%;
    height: 100vh;
    background-color: $colorNav;

    

    display: flex;
    justify-content: center;
    align-items: center;
    

    .row{

        width: 100%;
        

        
        .form-group{
            padding: 0.5rem;
            display: flex;
            justify-content: start;
            align-items: center;
            
         
            label {
                padding: 1rem;
            }

            .email2 {
                margin-left: 20px;
            }

            input {
                border-radius: 5px;
                padding: .5rem;
            }

            textarea{
                border-radius: 5px;
            }
           

            .nombre{
                width: 50%;   
                color: black; 

                @include tablet {

                }
                
                @include mobile {
                    width: 100%;
                }
                
            }
            .email{
                width: 50%;
                color: black; 
                @include tablet {

                }
                
                @include mobile {
                    width: 100%;   
                }
            }
            .mensaje{
                width: 50%;
                color: black; 
                @include tablet {
                    height: 10rem;
                }
                
                @include mobile {
                    width: 100%;
                    height: 7rem;
                }
            }

            .boton {
                width: 10%;
                margin-left: 30%;
                color: black; 

                @include tablet {
                    width: 15%;
                    margin-left: 32%;

                }
                
                @include mobile {
                    width: 5rem;
                    margin-left: 5.8rem;
                }
            }
        }
    }

    .col-sm-4{

        .informacionContacto{

            width: 100%;
            
            

            p{
                padding: 1rem;   
            }

            a{
                color: rgb(60, 60, 255);
                text-decoration: underline;
            }

        }
    }

}





/**********************************************/



.contenedorFooterContacto {

    width: 100%;
    height: 40vh;
    background-color: $colorFondo1;

    @include tablet {
        width: 100%;
        height: auto;

    }
    
    @include mobile {
        
        width: 100%;
        
        
    }

   

    .footerContacto{
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:0.5fr 1fr 1fr  ;
        grid-template-areas: 
        "datos1   datos1   datos1"
        "columna1 columna2 columna3"
        "columna4 columna2 columna3";

        @include tablet {
            width: 100%;
            height: auto;

            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows:repeat(6.1fr) ;
            grid-template-areas: 
            "datos1   datos1   datos1"
            ".        columna4  .    "
            ".        columna4  .    "
            ".        columna2  .    "
            ".        columna2  .    "
            ".        columna3  .    "
            ".        columna3  .    ";
            
        }

        @include mobile {

            width: 100%;
            height: auto;

            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows:repeat(5.1fr) ;
            grid-template-areas: 
            "datos1   datos1   datos1"
            "columna4 columna4 columna4"
            "columna4 columna4 columna4"
            "columna2 columna2 columna2"
            "columna3  columna3  columna3";
        }

        .logosRedesContacto {

            width: 100%;
            grid-area: columna3;
            
            
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: end;

            @include tablet {

                width: 100%;
                height: auto;

                display: flex;
                justify-content: center;
                align-items: center; 
                
                padding: 1rem;
                

            }
            
            @include mobile {

                width: 100%;
                padding-left: 3rem;
                padding-top: 2rem;
                
                display: flex;
                justify-content: center;
                align-items: center; 

                padding: 1rem;

                
            }


            .iconos{

                padding: .5rem;
               
            }

        }

        .informacionExtraFooterContacto {

            width: 100%;
            grid-area: columna2;
            

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            margin-top: 2rem;

            gap: .5rem;

            @include tablet {
                margin-top: 0;
                text-align: center;
            }
            
            @include mobile {

                margin-top: 0;
                text-align: center;
                gap: 0;

                
                
            }

        }

        .derechosRContacto{

            width: 100%;
            height: 5vh;

            grid-area: datos1;
            display: flex;

            justify-content: center;
            align-items: center;
            font-size: 1.3rem;

            @include tablet {

                text-align: center;

            }
            
            @include mobile {
                
                font-size: 1rem;
                text-align: center;
                
            }

        }

    }
}