.contenedorExperiencia {

    width: 100%;
    height: 127vh;
    

    background-color: $colorNav;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:  1fr 0.5fr 1fr;
    grid-template-areas: 
    
    "colum1 colum1 colum1"
    "colum6 colum6 colum6"
    "colum2 colum3 colum4";

    

    .informacionExperiencia {

        width: 100%;
        height: 50vh;
        margin-top: 7rem;

        padding: 5rem;

        

        grid-area: colum1;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;

        h2{
            
            font-family: $letraTexto-Extralight;
            font-size: 4rem;
        }

        p{
            font-family: $Montserrat;
            font-size: 2.5rem;
            text-align: center;

            text-shadow: 2px 2px 2px black;
            
        }
    }

    .contenedorEquipos {

        grid-area: colum6;
        display: flex;

        justify-content: center;

        padding: 2rem;

        background-color: $colorFondo1;
        border-bottom: 3px;
        border-style: solid;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom-color: $colorLineas;

        .equipos {

            h2{

                font-size: 3rem;
                font-family: $Arsenal;

            }
        }

    }

    .contenedorCompacteras{
        
        grid-area: colum2;
        background-color: $colorFondo1;
        width: 100%;
        height: 40vh;

        display: flex;
        align-items: center;
        flex-direction: column ;
        justify-content: center;

        gap: 2rem;
        
        
        .tituloCompacteras {
            
            width: 100%;
            height: auto;
            
            text-align: center;

            h3{
                font-size: 3rem;
                font-family: $Arsenal;
            }

        }

        .informacionCompacteras {
            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            ul{
                li{
                    font-size: 2rem;
                    font-family: $Montserrat;
                }
            }
            
        }

    }

    .contenedorEfectera{
        grid-area: colum3;
        background-color: $colorFondo1;
        width: 100%;
        height: 40vh;

        display: flex;
        align-items: center;
        flex-direction: column ;
        justify-content: center;

        gap: 2rem;

        border-style: solid;
        border-color: $colorLineas;
        border-top: 1px ;
        border-bottom: 1px;
        
        

        

        .efectera {

            margin-bottom: 10rem;

            width: 100%;
            height: auto;
            
            text-align: center;

            h3{
                font-size: 3rem;
                font-family: $Arsenal;

            }
            ul{
                padding: 1rem;
                li{
                    font-size: 2rem;
                    font-family: $Montserrat;
                }
            }

        }
    }

    .contenedorMixers{

        grid-area: colum4;
        background-color: $colorFondo1;
        width: 100%;
        height: 40vh;

        display: flex;
        align-items: center;
        flex-direction: column ;
        justify-content: center;

        gap: 2rem;

        .tituloMixers{
            width: 100%;
            height: auto;
            
            text-align: center;

            h3{
                font-size: 3rem;
                font-family: $Arsenal;
            }

        }
        .informacionMixers{

            width: 100%;
            height: auto;

            display: flex;
            justify-content: center;
            ul{
                li{
                    font-size: 2rem;
                    font-family: $Montserrat;
                }
            }

        }
    }
}

.contenedorFooter2 {

    width: 100%;
    height: 35vh;
    background-color: $colorFondo1;

   

    .footer2{
        width: 100%;
        height: auto;

        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows:0.5fr 1fr 1fr  ;
        grid-template-areas: 
        "datos1   datos1   datos1"
        "columna1 columna2 columna3"
        "columna4 columna2 columna3";

        .logosRedes2 {

            width: 100%;
            grid-area: columna3;
            
            
            display: flex;
            justify-content: space-around;
            flex-direction: row;
            align-items: end;


            .iconos{

                padding: .5rem;
               
            }

        }

        .informacionExtraFooter2 {

            width: 100%;
            grid-area: columna2;
            

            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            margin-top: 2rem;

            gap: .5rem;

        }

        .derechosR2{

            width: 100%;
            height: 5vh;

            grid-area: datos1;
            display: flex;

            justify-content: center;
            align-items: center;
            font-size: 1.3rem;

        }

    }
}