@font-face {
    font-family: letraLogo;
    src: url(../../fonts/letraLogo.otf);
}

@font-face {
    font-family: letraTexto-Extralight;
    src: url(../../fonts/letraTexto-Extralight.ttf);
}

@font-face {
    font-family: letraTexto-Hardline;
    src: url(../../fonts/letraTexto-Hardline.ttf);
}