@font-face {
    font-family: letraLogo;
    src: url(../fonts/letraLogo.ttf);
}

@font-face {
    font-family: letraTexto-Extralight;
    src: url(../fonts/letraTexto-Extralight.ttf);
}

@font-face {
    font-family: letraTexto-Hardline;
    src: url(../fonts/letraTexto-Hardline.ttf);
}

@font-face {
    font-family: Arsenal;
    src: url(../fonts/Arsenal.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat.ttf);
}