$colorNav: rgb(29, 28, 28);
$colorNav2:#1d1c1ce1;



$letraLogo: letraLogo;
$letraTexto-Hardline: letraTexto-Hardline;
$letraTexto-Extralight: letraTexto-Extralight;
$Arsenal: Arsenal;
$Montserrat: Montserrat

